In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 200)

In [3]:
df = pd.read_csv('../capstone-data/cta-covid-cars/Traffic_Crashes_-_Crashes.csv')

In [3]:
df.shape

(579227, 49)

In [4]:
df.isna().sum()

CRASH_RECORD_ID                       0
RD_NO                              3532
CRASH_DATE_EST_I                 535436
CRASH_DATE                            0
POSTED_SPEED_LIMIT                    0
TRAFFIC_CONTROL_DEVICE                0
DEVICE_CONDITION                      0
WEATHER_CONDITION                     0
LIGHTING_CONDITION                    0
FIRST_CRASH_TYPE                      0
TRAFFICWAY_TYPE                       0
LANE_CNT                         380249
ALIGNMENT                             0
ROADWAY_SURFACE_COND                  0
ROAD_DEFECT                           0
REPORT_TYPE                       14714
CRASH_TYPE                            0
INTERSECTION_RELATED_I           447156
NOT_RIGHT_OF_WAY_I               551938
HIT_AND_RUN_I                    403062
DAMAGE                                0
DATE_POLICE_NOTIFIED                  0
PRIM_CONTRIBUTORY_CAUSE               0
SEC_CONTRIBUTORY_CAUSE                0
STREET_NO                             0
STREET_DIRECTION                      4
STREET_NAME                           1
BEAT_OF_OCCURRENCE                    5
PHOTOS_TAKEN_I                   572068
STATEMENTS_TAKEN_I               567519
DOORING_I                        577392
WORK_ZONE_I                      575643
WORK_ZONE_TYPE                   576397
WORKERS_PRESENT_I                578333
NUM_UNITS                             0
MOST_SEVERE_INJURY                 1207
INJURIES_TOTAL                     1196
INJURIES_FATAL                     1196
INJURIES_INCAPACITATING            1196
INJURIES_NON_INCAPACITATING        1196
INJURIES_REPORTED_NOT_EVIDENT      1196
INJURIES_NO_INDICATION             1196
INJURIES_UNKNOWN                   1196
CRASH_HOUR                            0
CRASH_DAY_OF_WEEK                     0
CRASH_MONTH                           0
LATITUDE                           3419
LONGITUDE                          3419
LOCATION                           3419
dtype: int64

In [4]:
df.head()

,CRASH_RECORD_ID,RD_NO,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,LANE_CNT,ALIGNMENT,ROADWAY_SURFACE_COND,ROAD_DEFECT,REPORT_TYPE,CRASH_TYPE,INTERSECTION_RELATED_I,NOT_RIGHT_OF_WAY_I,HIT_AND_RUN_I,DAMAGE,DATE_POLICE_NOTIFIED,PRIM_CONTRIBUTORY_CAUSE,SEC_CONTRIBUTORY_CAUSE,STREET_NO,STREET_DIRECTION,STREET_NAME,BEAT_OF_OCCURRENCE,PHOTOS_TAKEN_I,STATEMENTS_TAKEN_I,DOORING_I,WORK_ZONE_I,WORK_ZONE_TYPE,WORKERS_PRESENT_I,NUM_UNITS,MOST_SEVERE_INJURY,INJURIES_TOTAL,INJURIES_FATAL,INJURIES_INCAPACITATING,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,4fd0a3e0897b3335b94cd8d5b2d2b350eb691add56c62d...,JC343143,NaN,07/10/2019 05:56:00 PM,35,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,TURNING,ONE-WAY,NaN,STRAIGHT AND LEVEL,DRY,NO DEFECTS,ON SCENE,NO INJURY / DRIVE AWAY,NaN,NaN,NaN,"OVER $1,500",07/10/2019 06:16:00 PM,IMPROPER BACKING,UNABLE TO DETERMINE,2158,N,MARMORA AVE,2515.0,NaN,NaN,NaN,NaN,NaN,NaN,2,NO INDICATION OF INJURY,0.0,0.0,0.0,0.0,0.0,3.0,0.0,17,4,7,41.919664,-87.773288,POINT (-87.773287883007 41.919663832993)
1,009e9e67203442370272e1a13d6ee51a4155dac65e583d...,JA329216,NaN,06/30/2017 04:00:00 PM,35,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,TURNING,NOT DIVIDED,4.0,STRAIGHT AND LEVEL,DRY,NO DEFECTS,ON SCENE,INJURY AND / OR TOW DUE TO CRASH,Y,NaN,NaN,"OVER $1,500",06/30/2017 04:01:00 PM,FAILING TO YIELD RIGHT-OF-WAY,NOT APPLICABLE,8301,S,CICERO AVE,834.0,NaN,NaN,NaN,NaN,NaN,NaN,2,NO INDICATION OF INJURY,0.0,0.0,0.0,0.0,0.0,3.0,0.0,16,6,6,41.741804,-87.740954,POINT (-87.740953581987 41.741803598989)
2,ee9283eff3a55ac50ee58f3d9528ce1d689b1c4180b4c4...,JD292400,NaN,07/10/2020 10:25:00 AM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,REAR END,FOUR WAY,NaN,STRAIGHT AND LEVEL,DRY,NO DEFECTS,ON SCENE,NO INJURY / DRIVE AWAY,NaN,NaN,NaN,"OVER $1,500",07/10/2020 10:25:00 AM,FAILING TO YIELD RIGHT-OF-WAY,FAILING TO YIELD RIGHT-OF-WAY,1632,E,67TH ST,331.0,NaN,NaN,NaN,NaN,NaN,NaN,3,NO INDICATION OF INJURY,0.0,0.0,0.0,0.0,0.0,3.0,0.0,10,6,7,41.773456,-87.585022,POINT (-87.585022352022 41.773455972008)
3,f8960f698e870ebdc60b521b2a141a5395556bc3704191...,JD293602,NaN,07/11/2020 01:00:00 AM,30,NO CONTROLS,NO CONTROLS,CLEAR,DARKNESS,PARKED MOTOR VEHICLE,DIVIDED - W/MEDIAN (NOT RAISED),NaN,STRAIGHT AND LEVEL,DRY,NO DEFECTS,NOT ON SCENE (DESK REPORT),NO INJURY / DRIVE AWAY,NaN,NaN,Y,$500 OR LESS,07/11/2020 08:30:00 AM,UNABLE TO DETERMINE,UNABLE TO DETERMINE,110,E,51ST ST,224.0,NaN,NaN,NaN,NaN,NaN,NaN,2,NO INDICATION OF INJURY,0.0,0.0,0.0,0.0,0.0,3.0,0.0,1,7,7,41.802119,-87.622115,POINT (-87.622114914961 41.802118543011)
4,8eaa2678d1a127804ee9b8c35ddf7d63d913c14eda61d6...,JD290451,NaN,07/08/2020 02:00:00 PM,20,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PARKED MOTOR VEHICLE,DRIVEWAY,NaN,STRAIGHT AND LEVEL,DRY,NO DEFECTS,ON SCENE,NO INJURY / DRIVE AWAY,NaN,NaN,NaN,"OVER $1,500",07/08/2020 02:15:00 PM,UNABLE TO DETERMINE,UNABLE TO DETERMINE,412,W,OHARE ST,1654.0,NaN,NaN,NaN,NaN,NaN,NaN,2,NO INDICATION OF INJURY,0.0,0.0,0.0,0.0,0.0,1.0,0.0,14,4,7,NaN,NaN,NaN

In [5]:
fin = df[['CRASH_DATE', 'DATE_POLICE_NOTIFIED','CRASH_DAY_OF_WEEK','CRASH_MONTH', 'DAMAGE']].copy()

In [6]:
fin

,CRASH_DATE,DATE_POLICE_NOTIFIED,CRASH_DAY_OF_WEEK,CRASH_MONTH,DAMAGE
0,07/10/2019 05:56:00 PM,07/10/2019 06:16:00 PM,4,7,"OVER $1,500"
1,06/30/2017 04:00:00 PM,06/30/2017 04:01:00 PM,6,6,"OVER $1,500"
2,07/10/2020 10:25:00 AM,07/10/2020 10:25:00 AM,6,7,"OVER $1,500"
3,07/11/2020 01:00:00 AM,07/11/2020 08:30:00 AM,7,7,$500 OR LESS
4,07/08/2020 02:00:00 PM,07/08/2020 02:15:00 PM,4,7,"OVER $1,500"
...,...,...,...,...,...
579222,07/13/2021 09:20:00 AM,07/13/2021 09:30:00 AM,3,7,"$501 - $1,500"
579223,07/13/2021 07:00:00 PM,07/13/2021 08:00:00 PM,3,7,"OVER $1,500"
579224,07/11/2021 02:00:00 PM,07/12/2021 08:55:00 AM,1,7,"OVER $1,500"
579225,07/12/2021 10:00:00 AM,07/12/2021 12:40:00 PM,2,7,"OVER $1,500"
579226,07/13/2021 10:30:00 PM,07/13/2021 10:55:00 PM,3,7,"OVER $1,500"

In [7]:
fin.dtypes

CRASH_DATE              object
DATE_POLICE_NOTIFIED    object
CRASH_DAY_OF_WEEK        int64
CRASH_MONTH              int64
DAMAGE                  object
dtype: object

In [8]:
fin['CRASH_DATE'] = pd.to_datetime(fin['CRASH_DATE']).dt.date
fin['DATE_POLICE_NOTIFIED'] = pd.to_datetime(fin['DATE_POLICE_NOTIFIED']).dt.date
fin['CRASH_DATE'] = pd.to_datetime(fin['CRASH_DATE'])
fin['DATE_POLICE_NOTIFIED'] = pd.to_datetime(fin['DATE_POLICE_NOTIFIED'])

In [9]:
fin

,CRASH_DATE,DATE_POLICE_NOTIFIED,CRASH_DAY_OF_WEEK,CRASH_MONTH,DAMAGE
0,2019-07-10,2019-07-10,4,7,"OVER $1,500"
1,2017-06-30,2017-06-30,6,6,"OVER $1,500"
2,2020-07-10,2020-07-10,6,7,"OVER $1,500"
3,2020-07-11,2020-07-11,7,7,$500 OR LESS
4,2020-07-08,2020-07-08,4,7,"OVER $1,500"
...,...,...,...,...,...
579222,2021-07-13,2021-07-13,3,7,"$501 - $1,500"
579223,2021-07-13,2021-07-13,3,7,"OVER $1,500"
579224,2021-07-11,2021-07-12,1,7,"OVER $1,500"
579225,2021-07-12,2021-07-12,2,7,"OVER $1,500"
579226,2021-07-13,2021-07-13,3,7,"OVER $1,500"

In [10]:
fin.dtypes

CRASH_DATE              datetime64[ns]
DATE_POLICE_NOTIFIED    datetime64[ns]
CRASH_DAY_OF_WEEK                int64
CRASH_MONTH                      int64
DAMAGE                          object
dtype: object

In [11]:
fin['DAMAGE'].value_counts()

OVER $1,500      343278
$501 - $1,500    164722
$500 OR LESS      71227
Name: DAMAGE, dtype: int64

In [12]:
fin.columns = fin.columns.str.lower()

In [13]:
fin.head()

,crash_date,date_police_notified,crash_day_of_week,crash_month,damage
0,2019-07-10,2019-07-10,4,7,"OVER $1,500"
1,2017-06-30,2017-06-30,6,6,"OVER $1,500"
2,2020-07-10,2020-07-10,6,7,"OVER $1,500"
3,2020-07-11,2020-07-11,7,7,$500 OR LESS
4,2020-07-08,2020-07-08,4,7,"OVER $1,500"

In [14]:
#fin.set_index(['crash_date'],inplace=True)

#fin.sort_index()

In [15]:
test = fin[['crash_date','crash_month']].copy()

In [16]:
test['crash_month']= test['crash_month']/test['crash_month']

In [17]:
test['crash_month'].value_counts()

1.0    579227
Name: crash_month, dtype: int64

In [18]:
test.rename(columns= {'crash_month':'count'},inplace=True)

In [19]:
final = test.groupby('crash_date').agg('sum')

In [20]:
final.sort_index(inplace=True)

In [22]:
final.head(25)

            count
crash_date
2013-03-03    1.0
2014-01-18    1.0
2014-01-21    1.0
2014-02-24    1.0
2014-06-25    1.0
2014-08-20    1.0
2014-11-11    1.0
2015-01-10    1.0
2015-01-17    1.0
2015-02-23    1.0
2015-04-06    1.0
2015-04-15    1.0
2015-04-16    1.0
2015-05-15    1.0
2015-05-20    1.0
2015-05-25    1.0
2015-06-01    1.0
2015-06-22    1.0
2015-06-25    1.0
2015-07-02    1.0
2015-07-04    1.0
2015-07-07    1.0
2015-07-17    1.0
2015-07-18    1.0
2015-07-20    1.0

In [23]:
final.shape

(2392, 1)

In [24]:
# final.to_csv('../capstone-data/crash_fin.csv')