In [ ]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 200)

# Monthly Ridership Main DF Cleaning

In [ ]:
monthly = pd.read_csv('../capstone-data/cta-covid-cars/cta/CTA_-_Ridership_-__L__Station_Entries_-_Monthly_Day-Type_Averages___Totals.csv')

In [ ]:
monthly.shape

(35190, 7)

In [ ]:
monthly.isna().sum()

station_id                  0
stationame                  0
month_beginning             0
avg_weekday_rides           0
avg_saturday_rides          0
avg_sunday-holiday_rides    0
monthtotal                  0
dtype: int64

In [ ]:
monthly.tail()

,station_id,stationame,month_beginning,avg_weekday_rides,avg_saturday_rides,avg_sunday-holiday_rides,monthtotal
35185,40850,Library,07/01/2021,1630.6,1543.2,760.8,45762
35186,40680,Adams/Wabash,07/01/2021,2690.8,2556.2,1288.2,75728
35187,41700,Washington/Wabash,07/01/2021,4864.4,4197.4,3004.0,138159
35188,40260,State/Lake,07/01/2021,4980.2,4851.0,3762.8,147653
35189,40380,Clark/Lake,07/01/2021,6332.0,4186.2,3455.0,171177

In [ ]:
monthly.sort_values('month_beginning',ascending=False)

,station_id,stationame,month_beginning,avg_weekday_rides,avg_saturday_rides,avg_sunday-holiday_rides,monthtotal
34183,40160,LaSalle/Van Buren,12/01/2020,364.1,139.8,89.8,9018
34116,40970,Cicero-Forest Park,12/01/2020,497.1,351.0,292.8,13804
34096,41240,Addison-O'Hare,12/01/2020,487.2,318.0,220.2,13092
34095,40550,Irving Park-O'Hare,12/01/2020,986.8,698.8,531.2,27161
34094,41330,Montrose-O'Hare,12/01/2020,325.5,206.3,165.0,8811
...,...,...,...,...,...,...,...
101,41080,47th-South Elevated,01/01/2001,1242.1,789.3,468.4,32826
102,40130,51st,01/01/2001,1116.7,700.0,448.4,29609
103,40510,Garfield-South Elevated,01/01/2001,720.8,495.0,304.2,19359
104,41140,King Drive,01/01/2001,697.8,396.0,220.8,18039
0,40900,Howard,01/01/2001,6233.9,3814.5,2408.6,164447

In [ ]:
monthly.dtypes

station_id                    int64
stationame                   object
month_beginning              object
avg_weekday_rides           float64
avg_saturday_rides          float64
avg_sunday-holiday_rides    float64
monthtotal                    int64
dtype: object

In [ ]:
monthly.drop(columns={'station_id','stationame'},inplace=True)

In [ ]:
monthly['month_beginning']= pd.to_datetime(monthly['month_beginning'])

In [ ]:
monthly.dtypes

month_beginning             datetime64[ns]
avg_weekday_rides                  float64
avg_saturday_rides                 float64
avg_sunday-holiday_rides           float64
monthtotal                           int64
dtype: object

In [ ]:
df=monthly.groupby(by=['month_beginning']).agg('sum')

In [ ]:
df.head()

,avg_weekday_rides,avg_saturday_rides,avg_sunday-holiday_rides,monthtotal
month_beginning,,,,
2001-01-01,487319.6,220753.3,136573.0,12286897
2001-02-01,497416.6,219440.1,147447.5,11415793
2001-03-01,503369.6,245850.6,152733.2,12914296
2001-04-01,501485.0,242434.5,157367.0,12287737
2001-05-01,513900.5,246570.3,171236.2,13148263

In [ ]:
df.dtypes

avg_weekday_rides           float64
avg_saturday_rides          float64
avg_sunday-holiday_rides    float64
monthtotal                    int64
dtype: object

In [ ]:
df=df.astype(float)

In [ ]:
df.dtypes

avg_weekday_rides           float64
avg_saturday_rides          float64
avg_sunday-holiday_rides    float64
monthtotal                  float64
dtype: object

In [ ]:
df.sort_index(inplace=True)

In [ ]:
df

,avg_weekday_rides,avg_saturday_rides,avg_sunday-holiday_rides,monthtotal
month_beginning,,,,
2001-01-01,487319.6,220753.3,136573.0,12286897.0
2001-02-01,497416.6,219440.1,147447.5,11415793.0
2001-03-01,503369.6,245850.6,152733.2,12914296.0
2001-04-01,501485.0,242434.5,157367.0,12287737.0
2001-05-01,513900.5,246570.3,171236.2,13148263.0
...,...,...,...,...
2021-03-01,135312.4,113530.8,83009.1,3898318.0
2021-04-01,148614.3,120363.0,90308.6,4112171.0
2021-05-01,166836.1,148655.2,114718.4,4768231.0
2021-06-01,199886.2,177984.6,139961.0,5669251.0
2021-07-01,236309.6,213547.2,153024.0,6795339.0

In [22]:
# df.to_csv('../capstone-data/cta-monthly-primary.csv')

In [23]:
#df= pd.read_csv('../capstone-data/cta-monthly-primary')